<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_type , "alternat"%>
    <%= form.radio_button :question_type ,  1,:value=>"valor"%>

    <%= form.radio_button :question_type ,  2,:value=>"tipo2"%>
  </div>

  <div class="field">
    <%= form.label :question_text %>
    <%= form.text_area :question_text, id: :question_question_text %>
  </div>
  <div class="field">
    <%= form.label :question_image %>
    <%= form.file_field :question_image, id: :question_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
