<br>

<h1  style="text-align: center">Evaluacion <%=@student.email%> </h1>

<br>
<h1 >Pre Laboratorio</h1>

<div class="prelab_eval">

  <label><b>Preguntas desarrollo:</b> </label>

  <ol>

  <%@activity.prelab.get_text_questions.each do |text_question|%>

    <li>
      <p>Question
      <%=link_to "Revisar",student_question_evaluation_path(id:@activity.id,student_id:@student.id,question_id:text_question.id) %>
      </p>
    </li>

  <%end%>

    <%=link_to "Ver resumen preguntas",student_summary_path(@student.id,:activity=>1)%>

  </ol>
    <label><b>Simulaciones:</b> </label>
<ol>
    <%@activity.prelab.circuits.each do |circuit|%>
    <%@user_prelab = UserPrelab.find_by(user:@student,prelab:@activity.prelab)%>
    <%cir_sim = CircuitSimulation.find_by(circuit:circuit,user_prelab_id: @user_prelab.id)%>
      <li>
        <p><%=circuit.name%>
          <%=link_to "Revisar", edit_circuit_simulation_path(cir_sim)%>
        </p>
      </li>

    <%end%>
</ol>

</div>

<br>
<h1>Laboratorio</h1>

<div class="lab_eval">
  <label for="nota_informe">Nota Informe: <%=@user_lab.report_grade%></label>
  <br>
  <label>Nota Participacion: <%=@user_lab.class_grade%> </label>
  <br>
  <label>Informe adjunto: <%= link_to 'Descargar', rails_blob_path(@user_lab.report, disposition: "attachment") || @user_lab.report%> </label>
  <br>
  <label>Nota Final Lab: <%=(@user_lab.report_grade+@user_lab.class_grade)/2%> </label>

  <br>
<%=link_to "Editar Notas",edit_user_lab_path(@user_lab)%>
</div>



<style>
  .prelab_eval, .lab_eval{

    border-style: groove;
    border-width: 1px;
    min-height: 35%;
    padding: 2% 2% 2% 2%;

  }


</style>