
<h1>Actividad: <%=Activity.chapters_by_number[@activity.chapter]%></h1>
<hr>
<br>


<div class="util_links_div">
  <h5><u>Bibliografía</u></h5>

  <ul>
    <%@activity.prelab.util_links.each do |util_link|%>
      <li><%=link_to util_link.link,util_link.link%></li>

    <%end%>
  </ul>

<hr>


  <h5><u>Circuitos</u></h5>
  <ul>

  <%@activity.prelab.circuits.each do |circuit|%>

      <li> <%=circuit.name%> <%=link_to "Revisar adjunto",edit_circuit_simulation_path(1)%></li>

  <%end%>
  </ul>

  <!--<%=button_to "Editar Adjuntos",edit_circuit_simulation_path(1), style:"margin-bottom:0%"%>-->

  <%=button_to "Ir al Quizz",answer_question_path(1), :style=>"margin-right: 0%;display: block;margin-left: auto;",method: :get%>

</div>

<br>
<div class =util_links_div>
  <h5>Laboratorio</h5>

  <%=label_tag :assignment do%>
  <p>Enunciado: <%= link_to 'Descargar', rails_blob_path(@lab.assignment, disposition: "attachment") %>
  </p>
<%end%>
  <p>Informe:  <%=link_to 'Descargar',rails_blob_path(@lab.assignment,disposition:"attachment")%></p>

  <%=button_to 'Editar', edit_user_lab_path(@lab.user_labs.first), :method=>:get%>
 </div>
<style>
  .util_links_div, .circuits_div{

    border-style: groove;
    border-width: 1px;
    min-height: 35%;
    padding: 2% 2% 2% 2%;

  }

    .util_links_div{

    }

    .circuits_div{

    }

</style>