<h1 class="module_title">Resumen para <%=@student.email%></h1>
<hr>
<br>
<%@activities=Activity.all
%>
<div class="filters">
  <%=form_tag( {:action=>:show}, {:method=>:get}) do%>

  <%=label_tag :activity do %>
  Actividad:
  <%=select_tag 'activity',options_for_select(@activities.collect{|a| [a.id,a.chapter]}.insert(0,"Seleccione"))%>

  <%end%>

<%=label_tag :activity_type do%>
  Tipo:
  <%=select_tag 'activity_type',options_for_select([["Seleccione",0],["Prelab",1],["Lab",2]])%>
<%=submit_tag "Filtrar"%>
<%end%>
    <%end%>
</div>


<%if @activity_id!=0 and @activity_type_int!=0%>
  <%activity=Activity.find_by(id:@activity_id)%>
  <%user_prelab=UserPrelab.find_by(prelab_id:activity.prelab.id,user_id:@student.id)%>

  <%questions=activity.prelab.questions%>
  <%k=1%>
  <%if @activity_type_int==1%>
      <%questions.each do |question|%>
    <%=render 'display_question', :locals=>{:question=>question,:k=>k,:user_prelab=>user_prelab}%>

    <%k+=1
      end%>
  <%end %>
<%end %>
<div>



</div>
<script>
  function activityChange(){


  }


</script>
<style>

  .filters label{

    margin-left: 3%;
    display:inline-block;
  }

</style>