<%= form_with(model: question_option, local: true) do |form| %>
  <% if question_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_option.errors.count, "error") %> prohibited this question_option from being saved:</h2>

      <ul>
      <% question_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :option_text %>
    <%= form.text_area :option_text, id: :question_option_option_text %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id, id: :question_option_question_id %>
  </div>

  <div class="field">
    <%= form.label :correct %>
    <%= form.check_box :correct, id: :question_option_correct %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
